{% extends 'base_layout.html' %}

{% block base_content %}
  <div class="container d-flex justify-content-center align-items-center" style="height: 100%;">
    <div>
      {% if messages %}
        {% for message in messages %}
          {% if message.tags == 'success' %}
            {% ifchanged %}
            <h2>{{ message }}</h2>
            {% endifchanged %}
          {% endif %}
        {% endfor %}
      {% else %}
        <h2>Tidak ada pesan keterangan</h2>
      {% endif %}
    </div>
  </div>
{% endblock %}
