{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/tailwindcss.min.css' %}" />
    {% comment %} <script defer src="{% static 'js/tailwindcss.min.js' %}"></script> {% endcomment %}

    <title>
      {% block title %}
        Tiket Keluhan
      {% endblock %}
    </title>
  </head>
  <body>
    <nav>
      <div>Ini merupakan nav nya</div>
    </nav>
    <div id="content">
      {% block content %}

      {% endblock %}
    </div>
  </body>
</html>
