{% extends 'base_layout.html' %}

{% block base_content %}
  <div class="row" style="height: 100%;">
    {% comment %}Sidebar nav{% endcomment %}
    <aside class="col-2 border-end" style="padding: 0; padding-top: 1.4rem;">
      <div>
        <p class="fs-5 text-center">Admin Panel</p>
      </div>
      <div class="list-group">
        <a href="{% url 'home' %}" class="list-group-item list-group-item-action text-capitalize">Dashboard</a>
        <details class="list-group-item list-group-item-action text-capitalize" style="padding-inline: 2px; margin-inline: 2px;">
          <summary class="">Tiket</summary>
          <div class="list-group mt-2 pl-2">
            {% if request.session.role == 1 or request.session.role == 2 %}
              <a href="{% url 'list-tiket' %}" class="list-group-item list-group-item-action text-capitalize">Tiket</a>
              <a href="{% url 'list-tiket-history' %}" class="list-group-item list-group-item-action text-capitalize">Tiket history</a>
            {% endif %}
            {% if request.session.role == 1 %}
              <a href="{% url 'list-tiket' %}" class="list-group-item list-group-item-action text-capitalize">Tiket review</a>
            {% endif %}
            {% if request.session.role == 3 or request.session.role == 1 %}
              <a href="{% url 'list-tiket' %}" class="list-group-item list-group-item-action text-capitalize">Tiket assignment</a>
            {% endif %}
          </div>
        </details>
        <a href="{% url 'user-list' %}" class="list-group-item list-group-item-action text-capitalize">User</a>
      </div>
    </aside>
    <div class="col-10 m-0 p-0 p-2" style="background: var(--c-slate-200);">
      <div class="p-2 m-2 rounded-3 shadow" style="background: white; height: 100%;">
        {% block content %}

        {% endblock %}
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script>
    $(document).ready(function () {
      console.log('conten ready')
    })
  </script>
{% endblock %}
