{% extends 'base_layout.html' %}

{% block title %}
  Login Page
{% endblock %}

{% block base_content %}
  <div id="form-body" class="place-center" style="height: 80dvh;">
    <div class="border p-2" style="width: 20dvw;">
      <h4 class="text-center">Login</h4>
      <form class="" action="{% url 'login' %}" method="post">
        {% csrf_token %}
        
        <div class="">
          <label for="login_id" class="form-label">Login Id</label>
          <input type="text" id="login_id" name="login_id" class="form-control" required />
        </div>
        <div class="" id="password_el">
          <label for="password_field" class="form-label">Password</label>
          <input type="password" id="password_field" name="password" class="form-control" />
        </div>
        <div class="mt-3">
          <button type="submit" class="btn btn-primary" style="width: 100%;">Submit</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}

{% block script %}
  {% comment %} <script id="login-page">
    $(document).ready(function (e) {
      // ============== Global Page Definition ===============
    
      // container element
      const userIdEl = $('#user_id_el')
      const passEl = $('#password_el')
      // input element
      const userIdIn = $('#user_id')
      const passIn = $('#password_field')
    
      function nasabahField() {
        passIn.removeAttr('required')
        passEl.hide()
        // ---------------------------
        userIdIn.attr('required', true)
        userIdEl.show()
      }
    
      function operatorField() {
        userIdIn.removeAttr('required')
        userIdEl.hide()
        // ---------------------------
        passIn.attr('required', true)
        passEl.show()
      }
    
      // Hide ketika pertama kali load dokument
      nasabahField()
    
      // on change select event
      $('#login_as').on('change', function () {
        const curVal = $(this).val()
        if (curVal == '1') {
          // ###### Login sebagai nasabah ######
          nasabahField()
        } else {
          // ###### Login sebagai operator ######
          operatorField()
        }
      })
    })
  </script> {% endcomment %}
{% endblock %}
